<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Movies Training</a>
  <ul class="nav nav-pills">
      <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-haspopup="true" aria-expanded="false">Movies</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/movies']">Upcoming</a>
            <a class="dropdown-item" [routerLink]="['/moviesTR']">Top Rated</a>
            <!-- <div role="separator" class="dropdown-divider"></div> -->
          </div>
        </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#fat">@fat</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#mdo">@mdo</a>
    </li> -->
   
  </ul>
</nav>
<router-outlet></router-outlet>