<div class="py-5" *ngIf="allDataFetched">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <img alt="Thumbnail [100%x225]" class="card-img-top img-fluid" data-holder-rendered="true" src="https://image.tmdb.org/t/p/w300/{{movieDetail.poster_path}}">
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">{{movieDetail.release_date}}</div>
          <div class="card-body">
            <h5 class="card-title">{{movieDetail.original_title}}</h5>
            <p class="card-text">{{getGenresFormatted(movieDetail.genres)}}</p>
            <p class="card-text">{{movieDetail.overview}}</p>
          </div>
        </div>
      </div>

    </div>
  
  </div>

  <div class="row">
      <app-movie-cast [id]='movieDetail.id'></app-movie-cast>
  </div>
</div>