<div class="star" [style.width.px]="starWidth" [title]="rating" (click)="onClick()">
    <div style="width: 200px">
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
        <span class="oi oi-star"></span>
    </div>
</div>