<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline">
          <label class="sr-only">Name</label>
          <input class="form-control mb-2 mr-sm-2" [(ngModel)]="listFilter" name='value' placeholder="Filter" type="text">
        </form>
      </div>

      <div class="col-sm-12">
        <h5>{{listFilter}}</h5>
      </div>

      <div *ngFor="let movie of filteredMovies">
        <div class="card mb-4 box-shadow">
          <img alt="Thumbnail [100%x225]" class="card-img-top" data-holder-rendered="true" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
            style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">{{movie.title | convertToSpaces:'-'}} {{movie.release_date}} {{movie.vote_average}}</p>
            <app-star [rating]='movie.vote_average' (ratingClicked)='onRatingClicked($event)'></app-star>
            <a class="btn btn-primary" href="#">See details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>