<div class="album py-5 bg-light">

  <div class="container">
    <div class="row">

      <div class="col">
        <form class="form-inline">
          <label class="sr-only">Name</label>
          <input class="form-control mb-2 mr-sm-2" [(ngModel)]="listFilter" name='value' placeholder="Filter" type="text">
        </form>

      </div>

      <div class="col">
        <h5>{{listFilter}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-3 mb-5" *ngFor="let movie of filteredMovies">
        <div class="card h-90">
          <img alt="Thumbnail [100%x225]" class="card-img-top img-fluid" data-holder-rendered="true" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
          <div class="card-body">
            <p class="card-text">{{movie.release_date}}</p>
            <app-star [rating]='movie.vote_average' (ratingClicked)='onRatingClicked($event)'></app-star>
            <a class="btn btn-primary" href="#">See details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>